h1{
    background-color: black;
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    text-align: center;
    padding: 40px;
}

.card{
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;
}